@import url(https://fonts.googleapis.com/css?family=Comic+Neue:300,300italic,regular,italic,700,700italic);

:root {
  --primary-color: #2b4360;
  --secondary-color: #6a00ff;
  --background-color: #f5f5f5;
  --text-color: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comic Neue", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  accent-color: var(--primary-color);
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.navbar {
  background-color: var(--primary-color);
  color: white;
  font-size: clamp(16px, 2vw, 2em);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    a {
      color: white;
      margin-left: 15px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0;
  max-width: clamp(300px, 100%, 600px);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);

  .title {
    font-size: 1.5em;
    margin-bottom: 8px;
    color: var(--primary-color);
  }

  .content {
    font-size: 1em;
    color: var(--text-color);
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;

  label {
    margin-bottom: 8px;
    font-weight: bold;
  }

  input,
  textarea {
    font: inherit;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
  }

  button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 10px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: color-mix(
        in hsl,
        var(--secondary-color) 80%,
        var(--primary-color) 20%
      );
    }
  }
}

.logout-btn {
  font: inherit;
  cursor: pointer;
  margin-left: 1rem;
  padding-inline: 9px;
  background: var(--background-color);
  border-radius: 12px;
  border: none;
  color: #ff292c;
}
